
/*common code start*/
*{
	font-family:"Work Sans",sans-serif;
}
:root{
	--brand-color:#6c55f9;
	--hover-color:#645F88;
}

/*over right start */
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, 
	.container-xl, .container-xxl {
        max-width: 1120px;
	}
}	
/*over right end */
/*common code end*/

/* navber start */
.navbar-brand{
	color:rgba(0,0,0.9);
	font-size:20px;
	font-weight:600;
	
}
.navbar-brand span{
	color:var(--brand-color);
}
.nav-link{
	color:rgb(100,95,136);
	font-size:16px;
	font-weight:400;
}
.nav-link:hover{
	color:#645F88;
}
.nav-link.active{
	color:var(--brand-color);
}
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--hover-color);
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}	
/* navber end */